.things {
  margin: auto;
  width: 90%;
  max-width: 360px;
  padding: 30px 0;
}

.form-control {
  background-color: #fff;
  border: 1px solid #ccc;
  color: #444444;
  display: block;
  font-size: 1em;
  line-height: 1.5;
  width: 100%;
  padding: 0.375em 0.75em;

  &:not(:last-child) {
    margin-bottom: 0.75em;
  }
}
